.API_userDetails_container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.API_userDetails_container td, .API_userDetails_container th {
  border: 1px solid #ddd;
  padding: 3px;
}

.API_userDetails_container tr:nth-child(even){background-color: #f2f2f2;}

.API_userDetails_container tr:hover {background-color: #ddd;}

.API_userDetails_container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}