.headerContainer{
    
}
.headerContainer .container{
height: 8vh;
padding: 0px 15px;
    align-items: center;
background: rgb(159, 159, 159);
display: flex;
    justify-content: space-between;
}

.headerContainer .loginDetails .profileImg{
    border-radius: 50%;
    margin: 4px 5px;
}

.headerContainer .loginDetails{
   font-size: 12px;
}

.headerContainer .CompanyIcon{
    mix-blend-mode: multiply;
}